[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
bs4 = "*"
pandas = "*"
requests = "*"
SQLAlchemy = "*"
psycopg2 = "*"
polars = "*"
mkdocs = "*"
mkdocs-mermaid2-plugin = "*"
pyarrow = "*"
pandera = {extras = ["io"], version = "*"}
boto3 = "*"

[dev-packages]

[requires]
python_version = "3.10"
